.error {
    cursor: pointer;
    color: #F44336;
    background-color: #fbc2be;
    border: 1px solid #f44336;
    border-radius: 5px;
    position: fixed;
    max-width: 310px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: .8em 1em;
    font-size: .8em;
    font-weight: 500;
    margin: 1em 0;
}

.container {
    top: 7em;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
}